<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>

<div>
    <form th:method="PATCH" th:action="@{/admin/edit/{id}(id=${user.getId()})}" th:object="${user}">
        <label for="username">Enter name: </label>
        <input type="text" th:field="*{username}" id="username"/>
        <br/>

        <label for="email">Enter email: </label>
        <input type="text" th:field="*{email}" id="email"/>
        <br/>

        <label for="password">Enter password: </label>
        <input type="text" th:field="*{password}" id="password"/>
        <br/>

        <p>
            <label>Roles:
                <input type="checkbox" name="roles"
                       th:each="role : ${allRoles}"
                       th:text="${role.getRole().substring(5)}"
                       th:value="${role.getId()}"
                       th:field="*{roles}"
                />
            </label>
        </p>

        <input type="submit" value="Update"/>
    </form>

    <form th:action="@{/logout}" method="POST">
        <input type="submit" value="Logout"/>
    </form>
</div>

</body>
</html>